<form class="form">
  <fieldset>
    <legend class="font-xsmall form-group">Filter by:</legend>

    <div class="form-group form-panel">
      <label class="form-label-bold" for="search">Within</label>
      <select class="form-select form-control-1-1 font-xsmall">
        <option selected>1 mile of location</option>
        <option>5 miles of location</option>
        <option>10 miles of location</option>
        <option>30 miles of location</option>
        <option>50 miles of location</option>
        <option>100 miles of location</option>
      </select>
    </div>

    <div class="form-group form-panel">
      <label class="form-label-bold" for="search">Sale and let</label>
      <select class="form-select form-control-1-1 font-xsmall">
        <option>Show all properties</option>
        <option>For sale only</option>
        <option>To let only</option>
      </select>
    </div>

    <div class="form-group form-panel">
      <label class="form-label-bold" for="search">Owned by</label>
      <select class="form-select form-control-1-1 font-xsmall">
        <option selected="selected" value="">Any government department</option>
        <option value="AGO">Attorney General's Office (LOD)</option>
        <option value="CO">Cabinet Office</option>
        <option value="CT">Care Trusts</option>
        <option value="CHAR">Charity Commission</option>
        <option value="CMA">Competition and Markets Authority</option>
        <option value="CPS">Crown Prosecution Service</option>
        <option value="BIS">Department for Business, Innovation and Skills</option>
        <option value="CLG">Department for Communities and Local Government</option>
        <option value="DCMS">Department for Culture, Media and Sport</option>
        <option value="DFE">Department for Education</option>
        <option value="DEFRA">Department for Environment, Food  and Rural Affairs</option>
        <option value="DFID">Department for International Development</option>
        <option value="DFT">Department for Transport</option>
        <option value="DWP">Department for Work and Pensions</option>
        <option value="DECC">Department of Energy and Climate Change</option>
        <option value="DH">Department of Health</option>
        <option value="ECGD">Export Credits Guarantee Department</option>
        <option value="FSA">Food Standards Agency</option>
        <option value="FCO">Foreign &amp; Commonwealth Office</option>
        <option value="FC">Forestry Commission</option>
        <option value="GAD">Government Actuarys Department</option>
        <option value="HMRC">HM Revenue and Customs</option>
        <option value="HMT">HM Treasury</option>
        <option value="HO">Home Office</option>
        <option value="LR">Land Registry</option>
        <option value="MOD">Ministry of Defence (Civil)</option>
        <option value="MOJ">Ministry of Justice</option>
        <option value="NHSFT">NHS Foundation Trusts</option>
        <option value="NHSPS">NHS Property Services Ltd </option>
        <option value="NHST">NHS Trusts</option>
        <option value="NCA">National Crime Agency</option>
        <option value="NS&amp;I">National Savings and Investments</option>
        <option value="NIO">Northern Ireland Office</option>
        <option value="ONS">Office for National Statistics</option>
        <option value="OFSTED">Office for Standards In Education</option>
        <option value="OFCOM">Office of Communications</option>
        <option value="OFGEM">Office of Gas &amp; Electricity Markets</option>
        <option value="ORR">Office of Rail and Road</option>
        <option value="PCOM">Parliamentary and Health Service Ombudsman</option>
        <option value="RM">Royal Mint</option>
        <option value="SO">Scotland Office</option>
        <option value="OTHER">Security and Intelligence Agencies</option>
        <option value="SFO">Serious Fraud Office</option>
        <option value="TNA">The National Archives</option>
        <option value="UKSA">UK Statistics Authority</option>
        <option value="UKTI">UK Trade &amp; Investment</option>
        <option value="WO">Wales Office</option>
        <option value="WSRA">Water Services Regulation Authority</option>
      </select>
    </div>

    <div class="form-group form-panel">
      <label class="form-label-bold" for="search">Holding</label>
      <select class="form-select form-control-1-1 font-xsmall">
        <option>Land and buildings</option>
        <option>Land only</option>
        <option>Buildings only</option>
      </select>
    </div>

    <div class="form-group form-panel">
      <label class="form-label-bold" for="search">Tenure</label>
      <select class="form-select form-control-1-1 font-xsmall">
        <option selected="selected" value="">All forms of tenure</option>
        <option value="N">Fee Farm Grant</option>
        <option value="F">Freehold/Feuhold/Fee Simple</option>
        <option value="G">Ground Lease</option>
        <option value="L">Leasehold/Licence</option>
        <option value="O">Other</option>
        <option value="P">PFI</option>
        <option value="S">Serviced Office</option>
      </select>
    </div>

  </fieldset>
</form>