{{<layout}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

	<div class="grid-row">
		<div class="column-two-thirds">

			<h1 class="heading-xlarge">
				<span class="heading-secondary">Prototype</span>
				Government property pages</h1>


			<p class="lede">A prototoype for pages about government owned properties on GOV.UK.<p>


			<h2 class="heading-medium">Disclaimer</h2>	

			<p>This is a prototype. It's not production code and should not be used as such.</p>

			<p><a href="https://github.com/timpaul/govuk_government_property">The source code for this prototype is available on GitHub</a></p>


			<h2 class="heading-medium">Search page</h2>

			<ul class="list-bullet">
				<li><a href="property-index">Search page</a></li>
			</ul>

			<p>Search for 'SW1H' and click on the first result.</p>


			<h2 class="heading-medium">Results page</h2>

			<ul class="list-bullet">
				<li><a href="property-results">Version 1: large location search</a></li>
				<li><a href="property-results-2">Version 2: small location search</a></li>
			</ul>

			<h2 class="heading-medium">Property pages</h2>

			<ul class="list-bullet">
				<li><a href="property-page">20 Victoria Street</a></li>
				<li><a href="property-page-2">Thornton Lodge Health Centre (for sale)</a></li>
				<li><a href="property-page-3">The Old Convent (to let)</a></li>
			</ul>

		</div>
		<div class="column-third">


		</div>
	</div>

</main>

{{/content}}

{{/layout}}
