{{<layout}}

{{$pageTitle}}
Government land and property
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

	{{>includes/breadcrumbs}}

	<div class="grid-row">
		<div class="column-two-thirds">

			<h1 class="heading-xlarge">
				<span class="heading-secondary">Government property</span>
				The Old Convent
			</h1>

			<!-- 119673 -->

			<h2 class="heading-medium">This property is available to let</h2>
			
			<details>
				<summary class="bold-small">Contact the agent</summary>
				<form class="form panel-indent">
					<div class="form-group">
						<label class="form-label" for="search">Your email address</label>
						<input class="form-control form-control-2-3" id="email" type="text">
					</div>

					<div class="form-group">
						<label class="form-label" for="search">Your message</label>
						<textarea class="form-control form-control-2-3" rows=8></textarea>
					</div>

					<div class="form-group">
						<a href="" class="button">Send enquiry</a>
					</div>
				</form>
			</details>


			<h2 class="heading-medium">Address</h2>
			<p>
				35 Pulteney Road, <br>
				Bath, <br>
				BA2 4JE
			</p>

			<h2 class="heading-medium">Description</h2>

			<p>The property comprises a converted 19th century former convent school in the centre of Bath and occupies a prominent position on a corner plot. It is used as a local administrative centre with ground floor interview rooms.</p>

			<p>The vacant space comprises the entire third floor which is contained within a tiled timber roof with dorma windows. The windows are steel casement and on the lower floors are housed within stone reveals and mullions.</p>

			<p>There is gas central heating throughout and all floors are serviced by a lift. Then property is surrounded by a mature garden to the front and sides and there is a pay and display car park .</p>

			<h2 class="heading-medium">Property details</h2>

			<table>
				<thead class="visuallyhidden">
					<tr>
						<th>Title</th>
						<th>Details</th>
					</tr>
				</thead>
				<tbody>

					<tr>
						<td>
							Space available from
						</td>
						<td>
							Now
						</td>
					</tr>
					<tr>
						<td>
							Space available to
						</td>
						<td>
							31/12/2199
						</td>
					</tr>
					<tr>
						<td>
							Number of floors
						</td>
						<td>
							1
						</td>
					</tr>
					<tr>
						<td>
							Area
						</td>
						<td>
							62.51
						</td>
					</tr>
					<tr>
						<td>
							Usage
						</td>
						<td>
							Office
						</td>
					</tr>
					<tr>
						<td>
							Number of buildings
						</td>
						<td>
							1
						</td>
					</tr>
					<tr>
						<td>
							Car parking spaces
						</td>
						<td>
							0
						</td>
					</tr>
					<tr>
						<td>
							Disabled access
						</td>
						<td>
							No
						</td>
					</tr>
					<tr>
						<td>
							Refurbishment required
						</td>
						<td>
							None
						</td>
					</tr>
					<tr>
						<td>
							EPC Asset Rating
						</td>
						<td>
							-
						</td>
					</tr>
					<tr>
						<td>
							EPC Asset Rating Value
						</td>
						<td>
							-
						</td>
					</tr>
				</tbody>
			</table>


			<h2 class="heading-medium">Further information</h2>

			<p>For more information about this property, <a href="">contact the relevant department</a>.


				<h2 class="heading-medium">Disclaimer</h2>

				<p>This page does not give full particulars for the properties listed on it. The information is provided as is, and neither Cabinet Office nor the relevant Department warrants or represents that these records, or any associated documents, are accurate or complete.</p>


			</div>
			<div class="column-third">

				<iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" width="100%" height="300" src="https://maps.google.com/maps?hl=en&q=35 PULTENEY ROAD, BATH, BA2 4JE&ie=UTF8&t=roadmap&z=15&iwloc=B&output=embed"></iframe>

			</div>
		</div>

	</main>

	{{/content}}

	{{/layout}}
