{{<layout}}

{{$pageTitle}}
Government land and property
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

	{{>includes/breadcrumbs}}

			<h1 class="heading-xlarge">
				Government properties
			</h1>

			<p class="text">
				Find properties and land owned by the government.
			</p>

			<form action="property-results">
			<div class="form-group search-box">
				<label class="form-label-bold" for="search">Enter a postcode, region or address</label>
				<input class="form-control form-control-2-3 font-xsmall" id="search" type="text"><a class="search-button" href="property-results">Search</a>
			</div>
			</form>

			<p><a href="property-results-map">Or explore all 20,864 properties on a map</a></p>

</main>

{{/content}}

{{/layout}}
