{{<layout}}

{{$pageTitle}}
Government land and property
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

	{{>includes/breadcrumbs}}

	<div class="grid-row">
		<div class="column-two-thirds">

			<h1 class="heading-xlarge">
      	<span class="heading-secondary">Government property</span>
				Thornton Lodge Health Centre
			</h1>

			<!-- 119673 -->

			<h2 class="heading-medium">This property is for sale</h2>

			<details>
				<summary class="bold-small">Contact the agent</summary>
				<form class="form panel-indent">
					<div class="form-group">
						<label class="form-label" for="search">Your email address</label>
						<input class="form-control form-control-2-3" id="email" type="text">
					</div>

					<div class="form-group">
						<label class="form-label" for="search">Your message</label>
						<textarea class="form-control form-control-2-3" rows=8></textarea>
					</div>

					<div class="form-group">
						<a href="" class="button">Send enquiry</a>
					</div>
				</form>
			</details>


			<h2 class="heading-medium">Address</h2>
			<p>
				1 Thomas Street, <br>
				Huddersfield, <br>
				HD1 3JR
			</p>

			<h2 class="heading-medium">Property details</h2>

			<table>
				<thead class="visuallyhidden">
					<tr>
						<th>Title</th>
						<th>Details</th>
					</tr>
				</thead>
				<tbody>

					<tr>
						<td>
							Longitude
						</td>
						<td>
							-1.7979
						</td>
					</tr>
					<tr>
						<td>
							Latitude
						</td>
						<td>
							53.638459
						</td>
					</tr>
					<tr>
						<td>
							Local Authority
						</td>
						<td>
							Kirklees District (B)
						</td>
					</tr>

					<tr>
						<td>
							Expiry Status
						</td>
						<td>
							Awaiting Confirmation
						</td>
					</tr>
					<tr>
						<td>
							Land Registry title number
						</td>
						<td>

						</td>
					</tr>
					<tr>
						<td>
							Holding Type
						</td>
						<td>
							Land &amp; Buildings
						</td>
					</tr>
					<tr>
						<td>
							Type
						</td>
						<td>
							Operational (1)
						</td>
					</tr>
					<tr>
						<td>
							Land Classification
						</td>
						<td>
							Not Known
						</td>
					</tr>
					<tr>
						<td>
							Department
						</td>
						<td>
							NHS Property Services Ltd 
						</td>
					</tr>
					<tr>
						<td>
							Organisation
						</td>
						<td>
							NHS PROPERTY SERVICES LTD - ALL
						</td>
					</tr>
					<tr>
						<td>
							Total Area (ha)
						</td>
						<td>
							0.0249

						</td>
					</tr>
					<tr>
						<td>Usage</td>
						<td>
							Not Set</td>
						</tr>
						<tr>
							<td>Number of Floors</td>
							<td>
								-</td>
							</tr>
							<tr>
								<td>Area</td>
								<td>
									132</td>
								</tr>
								<tr>
									<td>Car Parking Spaces</td>
									<td>
										-
									</td>
								</tr>
							</tbody>
						</table>


						<h2 class="heading-medium">Land details</h2>

						<table>
							<thead class="visuallyhidden">
								<tr>
									<th>Title</th>
									<th>Details</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Description</td>
									<td>Thornton Lodge Health Centre</td>
								</tr>
								<tr>
									<td>System ID</td>
									<td>1</td>
								</tr>
								<tr>
									<td>Type</td>
									<td>Operational</td>
								</tr>
								<tr>
									<td>Classification</td>
									<td>Not known</td>
								</tr>
								<tr>
									<td>Area</td>
									<td>0.0249 ha</td>
								</tr>
							</tbody>
						</table>



						<h2 class="heading-medium">Further information</h2>

						<p>For more information about this property, <a href="">contact the relevant department</a>.


						<h2 class="heading-medium">Disclaimer</h2>

						<p>This page does not give full particulars for the properties listed on it. The information is provided as is, and neither Cabinet Office nor the relevant Department warrants or represents that these records, or any associated documents, are accurate or complete.</p>


							</div>
							<div class="column-third">

								<br>

			<image src="public/images/thornton-lodge.png" width="100%" />

<br><br>

								<iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" width="100%" height="300" src="https://maps.google.com/maps?hl=en&q=1 THOMAS STREET, HUDDERSFIELD, HD1 3JR&ie=UTF8&t=roadmap&z=15&iwloc=B&output=embed"></iframe>

							</div>
						</div>

					</main>

					{{/content}}

					{{/layout}}
