{{<layout}}

{{$pageTitle}}
Government land and property
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

	<div id="global-breadcrumb">
		<ol role="breadcrumbs">
      <li><a href="/">Home</a></li>
      <li><a href="/browse/business">Business and self-employed</a></li>
			<li><a href="/browse/business/premises-rates">Business premises and business rates</a></li>
			<li><strong><a href="">Government properties</a></strong></li>
		</ol>
	</div>


	<div class="grid-row">
		<div class="column-two-thirds">

			<h1 class="heading-xlarge">
      	<span class="heading-secondary">Government property</span>
      	20 Victoria Street
      </h1>

			<h2 class="heading-medium">Address</h2>
			<p>
				20 Victoria Street, <br>
				Westminster, <br>
				London,  <br>
				SW1H 0NF
			</p>

			<h2 class="heading-medium">Property details</h2>

			<table>
				<thead class="visuallyhidden">
					<tr>
						<th>Title</th>
						<th>Details</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Holding name</td>
						<td>
							Offices
						</td>
					</tr>
					<tr>
						<td>Dept. Property Reference</td>
						<td>
							402688\1
						</td>
					</tr>
					<tr>
						<td>Tenure Type</td>
						<td>
							Leasehold/Licence
						</td>
					</tr>
					<tr>
						<td>Holding Type</td>
						<td>
							Building Only
						</td>
					</tr>
					<tr>
						<td>Usage</td>
						<td>
							Not known
						</td>
					</tr>
					<tr>
						<td>Number of floors</td>
						<td>
							8
						</td>
					</tr>
					<tr>
						<td>Area</td>
						<td>
							1157.2 m2
						</td>
					</tr>
					<tr>
						<td>Car parking spaces</td>
						<td>
							1
						</td>
					</tr>
					<tr>
						<td>Acquisition Date</td>
						<td>
							Not known
						</td>
					</tr>
				</tbody>
			</table>

			<h2 class="heading-medium">Further information</h2>

			<p>For more information about this property, <a href="">contact the relevant department</a>.


			<h2 class="heading-medium">Right to contest</h2>

			<p>If you believe this land could be put to better economic use, you have the <a href="https://www.gov.uk/government/publications/right-to-contest-application-form">right to contest</a>.


			<h2 class="heading-medium">Disclaimer</h2>

			<p>This page does not give full particulars for the properties listed on it. The information is provided as is, and neither Cabinet Office nor the relevant Department warrants or represents that these records, or any associated documents, are accurate or complete.</p>


		</div>
		<div class="column-third">


<br>

			<image src="public/images/20-victoria.png" width="100%" />

<br><br>

			<iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" width="100%" height="300" src="https://maps.google.com/maps?hl=en&q=20 VICTORIA STREET WESTMINSTER LONDON, SW1H 0NF&ie=UTF8&t=roadmap&z=15&iwloc=B&output=embed"></iframe>


		</div>
	</div>

</main>

{{/content}}

{{/layout}}
