{{<layout}}

{{$pageTitle}}
Government land and property
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

	{{>includes/breadcrumbs}}

	<div class="grid-row">
		<div class="column-two-thirds">

			<h1 class="heading-xlarge">
      	Submit a right to contest
      </h1>

			<h2 class="heading-medium">Address</h2>
			<p>
				20 Victoria Street, <br>
				Westminster, <br>
				London,  <br>
				SW1H 0NF
			</p>

			<h2 class="heading-medium">Right to contest</h2>

			<p>If you believe this land could be put to better economic use, you have the right to contest</p>.



		</div>
		<div class="column-third">



		</div>
	</div>

</main>

{{/content}}

{{/layout}}
